---
Checks: 'readability-braces-around-statements,
clang-diagnostic-*,clang-analyzer-*, -clang-analyzer-alpha*,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-clang-analyzer-alpha.deadcode.UnreachableCode, *, -clang-analyzer-alpha.*,
-clang-analyzer-security.insecureAPI.strcpy,-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-reinterpret-cast,-google-runtime-int'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
User: donosonaumczuk
CheckOptions:
    - key: readability-braces-around-statements.ShortStatementLines
      value: '0'
    - key: readability-identifier-naming.TypedefCase
      value: camelBack
    - key: readability-identifier-naming.TypedefSuffix
      value: _t
    - key: readability-identifier-naming.VariableCase
      value: camelBack
    - key: readability-identifier-naming.EnumCase
      value: camelBack
    - key: readability-identifier-naming.EnumSuffix
      value: _t
    - key: readability-identifier-naming.EnumConstantCase
      value: UPPER_CASE
    - key: readability-identifier-naming.FunctionCase
      value: camelBack
    - key: readability-identifier-naming.ConstantCase
      value: camelBack
    - key: readability-identifier-naming.ParameterCase
      value: camelBack
    - key: readability-identifier-naming.StructCase
      value: camelBack
